.purchaseItem-container{
    .react-table {
        height: 500px;
        width: 600px;
        margin: auto;
        .item-cell {
            margin-right: auto;
            display: inline-flex;
            .item-name-cell {
                display: inline-flex;
                align-items: center;
                .item-name {
                    margin-left: 16px;
                }
            }
        }
    }
}