
.hero-body {
    display: inline-flex;
    flex-direction: row;
    margin-top: 32px;
    width: 100%;
}
@media (max-width: 800px) {
    .hero-body {
        display: inline-block;
    }
}
.upper-margin {
    margin-top: 200px;
}